/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Changes backgroud color for the body */
body {
  background-color: #d9dcd6;
}

/* Changes styling for the header section */
header {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f1d328;
  color: #000000;
}

/* Changes styling for the header section */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Changes styling for the header section */
.seo {
  color: #d9dcd6;
}

/* Changes styling for the header section */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/* Changes styling for the header section */
header nav ul {
  list-style-type: none;
}

/* Changes styling for the header section */
header nav ul a {
  display: inline-block;
  margin-left: 25px;
}

/* Changes hyperlink color */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Changes paragraph font size */
p {
  font-size: 16px;
}


/* Large picture on the top portion of the website */
.background-picture {
  height: 550px;
  width: 100%;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.float-right {
  float: right;
  margin-left: 25px;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.content {
  /* width: 75%; */
  display: inline-block;
  /* margin-left: 20px; */
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.ls-card {
  text-align: center;
  margin-bottom: 20px;
  padding: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f1d328;
  color: #000000;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.search-engine-optimization img {
  max-height: 200px;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.online-reputation-management img {
  max-height: 200px;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.social-media-marketing img {
  max-height: 200px;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.ls-card h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Changes styling for the section in the bottom half of the screen (cards) */
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}


/* Changes styling for the aside section */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}

/* Changes styling for the aside section */
.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Changes styling for the aside section */
.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Changes styling for the aside section */
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Changes styling for the aside section */
.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Changes styling for the aside section */
.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Changes styling for the aside section */
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Changes styling for the images in the aside section */
.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Changes styling for the images in the aside section */
.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Changes styling for the images in the aside section */
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}


/* Changes styling for the footer */
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

/* Changes styling for the footer */
footer h2 {
  font-size: 20px;
}

@media screen and (min-width: 1199px) {
  .ls-card {
    width:95vw
  }
}